.toggleCheckbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggleLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.toggleLabel .toggleButton {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggleCheckbox:checked + .toggleLabel .toggleButton {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.toggleLabel:active .toggleButton {
    width: 60px;
}
